.navbar .d-flex {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin-bottom: 30px;
}

.navbar .d-flex a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    background: #404040;
    padding: 10px 20px;
    border-radius: 8px;
    text-transform: capitalize;
}